<!-- This is where all the non-navigation bar information resides. -->
<div class="off-canvas-content">
  <div class='wrap'>
    <div class='top-plane'></div>
    <div class='bottom-plane'></div>
  </div>
  <div class="grid-x">
    <!-- Buffer for large and medium web pages -->
    <div class="large-12 medium-12 small-12 cell">
      <img class="rotating-earth" src="/images/earth.gif" alt="Image 1">
    </div>
    <div class="large-12 medium-12 small-12 cell">
      <div style="position: absolute; height: fit-content; width: 100vw; top: 170px; left: 0px; text-align: center; ">
        <div style="margin-left: 5vw; margin-right: 5vw; background-color: rgba(227, 226, 240, 0.9); border: solid 2px black; border-radius: 30%; ">
        <h1 class="header_format" style="margin-top: 30px;">Renewable Energy Consumption</h1>
          <div class="line-format"></div>
          <h1 class="header_format" style="margin-bottom: 30px;">Homepage</h1>
          </div>
          <div>
          <div class="p-content">
            <p>
              Welcome! Click the navigation menu button on the top left corner to start exploring!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="large-12 medium-12 small-12 cell">
      <!-- <div class="body-content"> -->
        <!-- <br><br><br> -->
        <!-- <div class="p-content">
          <p>Welcome! Here you will find information pertaining to America's
            consumption of renewable energy resources. More than just a couple of
            decades ago America ran mainly on oil and electricity. Since then there have
            been innovations resulting in more environmentally friendly ways of
            generating energy. Every day we are getting closer to becoming more sustainable.
          </p>
        </div> -->
        <!-- <div class="shadow-up grid-x">
          <div class="large-6 medium-12 small-12 cell"> -->
            <!-- Graph 1 Divider - Total -->
            <!-- <div class="graph_format large-4 medium-12 small-12 cell" id="graph_1"></div>
          </div>
          <div class="large-6 medium-12 small-12 cell gallery_format">
            <img class="image_gallery_format" src="/images/homepage_1.jpg" alt="Installing Solar Panels">
            <div class="image_text_block">
              <p>Solar Panel Installation</p>
            </div>
          </div>
          <div class="large-6 medium-12 small-12 cell gallery_format">
            <img class="image_gallery_format" src="/images/homepage_2.jpg" alt="Countryside Wind Farm">
            <div class="image_text_block">
              <p>Countryside Wind Farm</p>
            </div>
          </div>
          <div class="large-6 medium-12 small-12 cell"> -->
            <!-- Graph 2 Divider - State-->
            <!-- <div class="graph_format large-4 medium-12 small-12 cell" id="graph_2"></div>
          </div>
          <div class="large-6 medium-12 small-12 cell"> -->
            <!-- Graph 3 Divider - Sector-->
            <!-- <div class="graph_format large-4 medium-12 small-12 cell" id="graph_3"></div>
          </div>
          <div class="large-6 medium-12 small-12 cell gallery_format">
            <img class="image_gallery_format" src="/images/homepage_3.jpg" alt="Turkish Airlines Bio-plane">
            <div class="image_text_block">
              <p>Turkish Airlines Bio-plane</p>
            </div>
          </div>
        </div>

      </div> -->
      <!-- <div class="large-12 medium-12 small-12 cell footer">
        <div class="footer_text_format">
          <p><b>Attribution</b>: </p>
          <ul>
            <li>
              <p>Under the <a target="_blank" href="https://creativecommons.org/licenses/by/2.0/deed.en">Creative
                  Commons Attribution 2.0 Generic</a>
                license we were allowed to use the images above in this project.</p>
            </li>
            <li>The graphs were generated using the <a target="_blank" href="https://canvasjs.com/">CanvasJS</a> Graph
              Package.</li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>
<script>
  document.body.style.overflow = "hidden";
  document.getElementById('prevBtn').style.display = "none";
  document.getElementById('nextBtn').style.display = "none";
</script>